* {
  box-sizing: border-box;
}

/* UTILITY */

.center_box {
  max-width: 80%; /* 1000px */
  margin-inline: auto;
}

.circle {
  border-radius: 50%;
}

/* Generale */
body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  color: black;
  font-weight: 800;
}

h4 {
  font-weight: bold;
}

li {
  display: inline-block;
}

header {
  border-bottom: 1px solid black;
  width: 100vw;
  height: 100px;
  padding-block: 30px;
  background-color: #ffc017;
  position: fixed;
  z-index: 2;
  transition: background-color 1s ease;
}

.header_child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 10px;
  justify-items: center;
  cursor: pointer;
  align-items: baseline;
}

.btn {
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 1s ease;
}

.hero h1 {
  font-family: "Spectral", serif;
  font-size: 4rem;
  font-weight: bold;
}

.hero {
  background-color: #ffc017;
  padding-top: 200px;
  padding-bottom: 100px;
  border-bottom: 1px solid black;
  transition: background-color 1s ease;
  position: relative; /*  */
}

svg {
  position: absolute;
  bottom: 0;
  transform: translateX(25%);
  width: 110%;
}

.hero_child {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.hero .btn {
  max-width: 200px;
}

main {
  padding-block: 50px;
  border-bottom: 1px solid gray;
}

main > div {
  display: flex;
  align-items: center;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

section {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 60%;
  row-gap: 20px;
}

/* ARTICLE CARDS */

.article_card {
  display: flex;
  min-height: 100px;
  flex-grow: 1;
  flex-basis: 30%;
  column-gap: 10px;
  cursor: pointer;
}

/* .cardNames {
  display: flex;
  align-items: center;
  gap: 10px;
} */

.art_info div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.art_info img {
  border-radius: 50%;
  height: 25px;
}

.numberArt {
  font-size: 2.5rem;
  font-weight: 800;
  color: #e7e7e7;
}

.art_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.art_info div:last-child {
  display: flex;
  color: #696969;
  gap: 5px;
}

@media screen and (max-width: 766px) {
  .art_info div:last-child {
    display: flex;
    justify-content: space-between;
    color: #696969;
  }
}

.article_card2 {
  display: flex;
  /* border: 1px solid black; */
}

.art2_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.art2_info div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.art2_info img:first-child {
  border-radius: 50%;
  height: 25px;
}

.art2_info div:last-child {
  display: flex;
  align-items: center;
  color: #696969;
  gap: 5px;
}

.art2_info span {
  background-color: #f1f3f3;
  border-radius: 20px;
  padding: 10px;
}

.img_art > img {
  max-height: 150px;
}

.discover {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.discover_group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-block: 20px;
  max-height: 300px;
  padding-inline: 10px;
  position: sticky;
  top: 100px;
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid #80808047;
}

.discover_group div {
  border: 1px solid #80808047;
  padding: 5px;
}

.second_nav {
  display: flex;
  padding-block: 20px;
  gap: 10px;
  flex-wrap: wrap;
}
